/* ESTILO DEL BODY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.videofondo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

@font-face {
    font-family: PelaDexteR;
    src: url(../assets/font/PelaDexteR.ttf);
}

/* ESTILO DEL HEADER */
header{
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    box-shadow: 0px 15px 25px #000;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombrelogo {
  width: 300px;
  height: 75px;
}

nav ul li{
    display: inline;
    padding: 0px 12px;
}

nav a{
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgb(162, 0, 141);
    border-right: 1px solid;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}

nav a:hover{
    padding: 5px 10px;
    color: black;
    background: white;
    border-radius: 15px;
}

.link-section p{
    text-shadow: 0px 5px 3px rgb(156, 0, 151);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonaccess
{
    grid-column: 3/3;
    text-decoration: none;
    text-align: right;
    margin-top: 40px;
    margin-right: 25px;
}

.buttonaccess button{
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}

.buttonaccess a{
    margin: 25px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

/* ESTILO DE LA SECCION */

.reference {
  font-family: PelaDexteR;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.907);
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 1);
  margin-right: 20px;
}


.main-container{
    display: grid;
    margin: 50px auto;
}

.main-container video{
    height: 400px;
    width: 700px;
    margin: 25px auto;
    display: block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: white;
}

.main-container div p{
    display: flex;
    text-align: center;
    font-size: 30px;
    align-items: center;
    justify-items: center;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    color: rgb(255, 0, 0);
}

/* ESTILO DEL FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    position: sticky;
    bottom: 0;
    box-shadow: 0px -15px 25px;
}

.logo-social-media{
    display: flex;
    align-items: center;
}

.logo-social-media img{
    height: 50px;
    width: 50px;
}

.logo-social-media a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    position: relative;
}

/* Media Query */
@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

.main-container {
    display: inline-block;
    min-height: 210vh;
  }

  .reference {
    margin-top: 20px;
    width: 100%;
    margin-right: 0;
  }
}
